CAL_TOKEN="your-cal-com-api-key" 

OPENROUTER_API_KEY=sk-or-

RESEND_API_KEY="your_resend_api_key_here"
RESEND_EMAIL=example@mail.com

HUBSPOT_ACCESS_TOKEN = pat-...

LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

