#   - NEXTAUTH
# You can use: `openssl rand -base64 32` to generate one
NEXTAUTH_SECRET=

# Application Key for symmetric encryption and decryption
# must be 32 bytes for AES256 encryption algorithm
# You can use: `openssl rand -base64 24` to generate a 32-character key
CALENDSO_ENCRYPTION_KEY=
